/* Filter & Sort */

.filter-sort {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
  gap: 20px;
  flex-wrap: wrap;
}

/* Categories */

.categories {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

/* Category Button */

.category-btn {
  border: none;
  background: #ede6da;
  padding: 10px 14px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s;
}

.category-btn:hover {
  background: #e0d6c6;
}

/* Active Button */

.category-btn.active {
  background: #5a7247;
  color: white;
}

/* Sort Dropdown */

.sort-select {
  border: 1px solid #d9d0c3;
  padding: 10px 14px;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  background: #faf6ef;
}