/* Search Bar */

.search-bar {
  display: flex;
  align-items: center;
  background: white;
  border: 1px solid #d9d0c3;
  border-radius: 10px;
  padding: 10px 14px;
  width: 100%;
  max-width: 400px;
}

/* Input */

.search-bar input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 14px;
}

/* Button */

.search-bar button {
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 14px;
  color: #666;
}

.search-bar button:hover {
  color: #000;
}